<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="https://www.springframework.org/schema/context"
	xmlns:p="https://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
 https://www.springframework.org/schema/beans/spring-beans.xsd
 https://www.springframework.org/schema/context
 https://www.springframework.org/schema/context/spring-context.xsd">
 
   <bean id="student" class="com.excel.spring.Student">
	<property name="id" value="121"></property>
		<property name="name" value="Kushi"></property>
	<property name="address" value="Mysore"></property>
 </bean>
 
 <!--<bean id="student1" class="com.excel.spring.Student">
	<property name="id" value="122"></property>
		<property name="name" value="Harshi"></property>
	<property name="address" value="Banglore"></property>
   </bean>-->
      <bean class="com.excel.spring.Student" name="student1" p:id="123" p:name="Nivi" p:address="mysore"></bean>

 </beans>